input:focus:valid {
  background-color: rgb(120, 255, 120);
}
input:invalid:not(:placeholder-shown) {
  background-color: rgb(255, 96, 96);
}
input:invalid:focus {
  background-color: rgb(255, 96, 96);
}

input {
  border-style: solid;
}